*{
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-weight: bold;
    background-color: #F5F5EF;
    color: #666;
    box-sizing: border-box;
}
#wrapper{
    width: 100vw;
}
.flex{
    display: flex;
}
/* header {
    width: 100%;
    height: 150px; */
    /* background-image: url(./img/title_logo.png); */
    /* background-repeat: no-repeat;
    background-size: contain;
    background:linear-gradient(135deg,#d9d8ff 0%,#d9d8ff 50%,#aaefff 50%,#aaefff 100%);
} */
header {
    display: inline-block;
    /* width: 100vw; */
    height: 0px;
    border-style: solid;
    border-width: 0 0 150px 100vw;
    border-color: transparent transparent #F1C774 transparent;
    background-color: #E79CFE;
}
#titlebox{
    position: relative;
    width: 100vw;
    height: 150px;
    margin-top: -150px;
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    color:#fff;

}
h2{
margin: 30px 0;

}
.contents{
    width: 1000px;
    margin: auto;
}
.content + .content{
    margin-top:40px ;
}

.content-text{
    margin-left:40px;
}
li {
    list-style-type: none;

}

ul {
    align-items: center;
}

h2 {
    border-bottom: 1px dashed #bec2c7;
}

footer {
    position:relative;
    height: 30px;
    margin-top: 50px;
    background-color: #F1C774;
    text-align: center;
    color: #fff;
}
footer p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

/* ボタンのスタイル */
.page-top {
    /* buttonタグのリセットCSS */
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  
    /* ボタンの装飾 */
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color: #E79CFE;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }
  
  /* 矢印のスタイル */
  .page-top::before {
    content: "";
    width: 12px;
    height: 12px;
    margin-bottom: -6px;
    border-top: solid 3px #fff;
    border-right: solid 3px #fff;
    transform: rotate(-45deg);
  }
  
  /* ホバー時のスタイル */
  .page-top:hover {
    transform: scale(1.1);
  }

/* --レスポンシブ-- */
@media(max-width: 1100px) {
    .flex {
        display: block;
    }

    .content-text{
        width: 500px;
        margin-left: 0;
        text-align: center;
    }

    .contents {
        width: 600px;
        margin: 0 auto;
    }

    h1 {
        width: auto;
        font-size: 30px;
        white-space: nowrap;
    } 

    .border-line {
        position: absolute;
        left: 0.2em;
        top: 0;
        width: 2px;
        height: 0;
        background: #CCC;
    }

    ul li {
        width: 90%;
        margin: 0 auto;
    }
}

.timeline li {
    position: relative;
    list-style: none;
    padding: 0 0 0 0;
}

.border-line {
    position: absolute;
    right: 48%;
    top: 0;
    width: 2px;
    height: 0;
    background: #F1C774;
}

/* .timeline li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 48%;
    width: 10px;
    height: 10px;
    background: #F1C774;
    border-radius: 50%;
} */

@media(max-width: 530px) {
    li img {
        width: 100vw;
    }

    .content-text{
        width: 100vw;
        text-align: center;
        margin:auto
        
    }

    .contents {
        width: 100vw;
        margin: auto;
    }

    h1 {
        font-size: 20px;
    }
}